.DisplayCard-container {
  display: auto;
}

.DisplayCard-image {
  width: 100%;
  -webkit-transition: all 350ms ease;
  transition: all 350 ease;
  cursor: pointer;
  background-color: black;
  justify-content: center;
  object-fit: contain;
  margin: 15px;
}

.DisplayCard-text {
  text-align: center;
}