.Collection {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  width: calc(100% - 30px);
}

.Collection img {
  -webkit-transition: all 350ms ease;
  transition: all 350 ease;
  cursor: pointer;
  margin-bottom: 12px;
}


@media(max-width: 650px) {
  .Collection {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media(max-width: 480px) {
  .Collection {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}