.User {
  padding: 20px;
}

.User table th {
  font-size: 20px;
}

.User table {
  max-width: 100%;
  border: solid;
}

.User table td,
.User table th {
  padding: 10px 20px;
}

.User button {
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  background-color: darkslategray;
}