.Header-container {
  text-align: left;
  padding: 20px;
  background-color: darkslategrey;
}

.Header-topnav {
  float: right;
  text-align: center;
  margin: 0 25px;
  transform: translateY(-100%);
}

.Header-topnav ul li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 44px;
  z-index: 1;
  vertical-align: top;
}

.Header-topnav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
  margin: 0 25px;
}

.Header-topnav ul li a:hover {
  color: gray;
}

@media(max-width: 650px) {
  .Header-container {
    display: flow-root;
    width: 100%;
  }
  
  .Header-topnav {
    padding-top: 20px;
    display:block;
    background-color: darkslategrey;
    transform: translateY(0%);
    width: 100%;
  }
  
  .Header-topnav ul li {
    margin: 20px;
    display: block;
  }
}